
@{
    Layout = null;
}
@{ 
    int i = 100;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
       
}
    </style>
</head>
<body>
    <div> 
        <h1>This is index page for students</h1>
        <h2> Value of i is @i  </h2>
        
        @{ 
            while (i<110)
            {
                <b>  @i</b><br/>
                i++;
            }
        }
    </div>
</body>
</html>
