
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h1>student Login</h1>
       
        <form action="LoginByFormCollection" method="post">
        User id<input type= "text" id="abcd" name = "userid1" />< br />

        password <input type = "text" name = "password1" />< br />

        <input type = "submit" value = "submit" />
        </form>
               
    </div>
</body>
</html>
